<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../../node_modules/vue/dist/vue.min.js"></script>
</head>
<body>
     <style>
         .verde {
            color: green;
         }
         .vermelho {
            color: red;
         }
     </style>
    <div id="app">
        <button v-on:click="puxarDados">Puxar dados</button> <br>
        <p :class="google.marketCap > apple.marketCap ? 'verde' : 'vermelho'">{{google.marketCap}}</p>
        <p :class="apple.marketCap > google.marketCap ? 'verde' : 'vermelho'">{{apple.marketCap}}</p>
    </div>
    <script src="exercicio.js"></script>
</body>
</html>